@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

.glass {
	z-index: 200;

	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.08));
	backdrop-filter: blur(20px);
}

html {
	height: 100%;
}

.page {
	height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #000000 #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

*::-webkit-scrollbar-track {
	background: transparent;

}

*::-webkit-scrollbar-thumb {
	background-color: black;
}

.border-scroll::-webkit-scrollbar-track {
	border-left: 2px solid black;
}

.loading-bar {
	&.loading::after {
		content: "";
		background: black;
		height: 3px;
		animation: fake-load 15s linear;
		position: absolute;
		left: 100%;
		top: 0;
		display: inline-block;
		z-index: 100;
	}
}

button {
	cursor: pointer;
}

.text-search-match {
	background-color: black;
	color: white
}

pre {
	font-family: '__Source_Code_Pro_46b4a6', '__Source_Code_Pro_Fallback_46b4a6' !important;
}

.icon-action {
	position: relative;
	transition: all .2s ease-in-out;
	// width: 24px;
	// height: 24px;
	cursor: pointer;
	display: grid;
	place-items: center;
	z-index: 11;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: black;
		transition: all .2s ease-in-out;
		width: 24px;
		height: 24px;
		z-index: -1;
		border-radius: 100%;
		opacity: 0;
	}

	&.disabled {
		color: #777777;
	}

	&:not(.disabled):hover {
		color: white;

		&::after{
			opacity: 1;
		}
	}
}

@keyframes fake-load {
	from {
		width: 0;
	}

	to {
		width: 100px;
	}
}

.switcher-page {
	position: relative;

	&:hover::before {
		animation: slideWidthRight .1s ease-in-out forwards;
	}

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 2px;
		background-color: black;
		bottom: 14px;

		animation: slideWidthLeft .1s ease-in-out forwards;
	}
}

.switcher-current-page {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 20%;
		height: 2px;
		background-color: black;
		bottom: 14px;
	}
}

.nav-item {
	& * {
		transition: all .2s ease-in-out;
	}

	&:hover > * {
		transform: translateX(4px);
	}
}

@keyframes slideWidthRight {
	from {
		width: 0;
	}

	to {
		width: 20%;
	}
}

@keyframes slideWidthLeft {
	from {
		width: 20%;
	}

	to {
		width: 0;
	}
}