@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
	z-index: 200;

	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.08));
	backdrop-filter: blur(20px);
}

html {
	height: 100%;
}

.page {
	height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

*::-webkit-scrollbar-track {
	background: white;

}

*::-webkit-scrollbar-thumb {
	background-color: black;
}

.border-scroll::-webkit-scrollbar-track {
	border-left: 2px solid black;
}

.loading-bar {
	&.loading::after {
		content: "";
		background: black;
		height: 3px;
		animation: fake-load 10s linear;
		position: absolute;
		left: 100%;
		top: 0;
		display: inline-block;
	}
}

@keyframes fake-load {
	from {
		width: 0;
	}

	to {
		width: 80px;
	}
}